.projects-section {
  padding: 60px 20px;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #f2fad8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-card h3 {
  font-size: 1.5em;
  margin: 15px 0;
}

.project-card p {
  font-size: 1em;
  color: #666;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 15px;
}

/* Common button style for both GitHub and Deployed Website links */
.github-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 10px;
}

.github-button:hover {
  background-color: #555;
}

/* Optional: Style for Deployed Website Button to stand out (if desired) */
.github-button-deployed {
  background-color: #28a745; /* Green color for deployed website */
}

.github-button-deployed:hover {
  background-color: #218838; /* Darker green on hover */
}
